.button {
    height: 36px;
    display: inline-block;
    border-radius: 2px;
    color: #fff;
    padding: 0 24px;
    text-align: right;
    background-color: #2CA01C;
    line-height: 36px;
    outline: 0;
    width: auto;
    cursor: pointer;
    box-sizing: border-box;
}

.button:hover {
    background-color: #01B075;
}