.dropdownFunction {
    width: 120px;
    box-shadow: 0 0 5px 1px #e5e5e5;
    position: absolute;
    background-color: #fff;
    border: 1px solid #babec5;
    box-sizing: border-box;
    right: 38px;
    padding: 4px 0;
    height: fit-content;
    border-radius: 2px;
}

@media screen and (min-width: 1920px) {
    .dropdownFunction {
        right: 78px;
    }
}

.dropdownFunction .functionDelete,
.dropdownFunction .functionDuplicate {
    line-height: 32px;
    height: 32px;
    width: calc(100% - 16px);
    padding-left: 16px;
    cursor: pointer;
    color: #000;
}

.dropdownFunction .functionDelete:hover,
.dropdownFunction .functionDuplicate:hover {
    background-color: #babec5;
    color: #2ca01c;
}