.page-navigator {
    width: calc(100% - 48px);
    margin: 0px 24px 0px 24px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    background-color: #e9ebee;
    line-height: 48px;
}

.modifyNumber {
    height: 100%;
    width: 200px;
}

.modifyNumber .select {
    margin-top: 8px;
}

.paging {
    height: 100%;
    display: flex;
    align-items: center;
}

.btn {
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin: 0;
    cursor: pointer;
}

.page-navigator .paging .page-number {
    text-align: center;
    box-sizing: border-box;
}

.page-navigator .btn.page-selected {
    border: 1px solid #bbbbbb;
    font-weight: bold;
}

.page-navigator .paging .page-number:active {
    background-color: #019160 !important;
    border-color: #019160;
    color: #fff;
}

.page-navigator .paging .page-number:hover {
    border-color: #fff;
    background-color: #fff;
}

.prev-page {
    width: auto !important;
    margin-right: 10px;
    margin-left: 10px;
}

.next-page {
    width: auto !important;
    margin-left: 10px;
}

.prev-page:hover,
.next-page:hover {
    background-color: #b5c2d2;
}